.cardBackground{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/backgroundDark.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    text-align: center;
    justify-content: center;
    
  }

.topElements{
    text-align: center;
    justify-content: center;
    display: inline-flex;
    line-height: 0;
}
.topElements img{
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 350px;
    height: auto;
}

.topElements .greetingUser{
    width: 37vw;
    margin-top: 5vh;
    margin-left: 30px;
    text-align:left;
    justify-content: center;
    color:white;
}
.topElements .logo a{
    width: 30vh;
}

.topElements .informations{
    width: 35vw;
    margin-top: 20px;
    margin-right: 10px;
    text-align: end;
    justify-content: center;
    color: white;
}

.cardBackground .subCardNoDevices{
    background: url(../assets/subBackgroundDark.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    margin-top: 4vh;
    width: 99vw;
    height: 85vh;
    margin-left: 0.5vw;
    padding: 0px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.897);
    display: flex;
}

.textCenter h1{
    font-weight: 500;
    font-size: 5rem;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 99vw;
    margin-top: 35vh;
    margin-bottom: 0px;
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.753);
}

.textCenter button{
    background-color: white;
    color: black;
    width: 20rem;
    height: 3.5rem;
    font-size: 2.55rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin-top: 1.5rem;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
}

.putAlertInScreen{
    position: absolute;
    z-index: 1;
    width: 99vw;
    height: 83vh;
    backdrop-filter: blur(7px);
    margin-top: 3.5vh;
    margin-left: 0.5vw;
    border-radius: 30px;
}

.newDeviceFound{
    background-image: url(../assets/backgroundDark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 37vw;
    height: 75vh;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;

    padding: 2rem;
    
}

.newDeviceFound h1{
    font-weight: 620;
    color: white;
    margin: 0%;
    margin-bottom: 1rem;
}


.newDeviceFound .iconNewDevice{
    background-image: url(../assets/subBackgroundDark.svg);
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: center;
    width: 20vw;
    height: 35vh;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
    border-radius: 20px;
    margin: auto;
}

.iconNewDevice img{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    
}

.infoDevice{
    display: block;
}

.inputData{
    margin: 0px;
    padding: 0px;
}

.inputData h2{
    display: inline-flex;
    color: white;
}
.inputData input{
    background-color: white;
    border-radius: 10px;
    height: 2.5rem;
    width: 28vw;
    margin: 0%;
    margin-left: 1vw;
    border-style: none;
    color: rgb(65, 65, 65);
    font-size: 1.2rem;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.329);

}

.inputData input:focus{
    border-color: white;
    border-style: dotted;
}


.retanguloInfo{
    display: inline-flex;
    background-color: white;
    
    height: 2.5rem;
    width: 28vw;
    text-align: center;
    margin: 0;
    margin-left: 1vw;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.329);
    
}

.retanguloInfo h2{
    font-weight: 350;
    margin: 0;
    color: black;
}

.buttonAddDevice{
    
}

.buttonAddDevice button{
    margin-top: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.329);
}

.cardDeviceBackground{
    background: url(../assets/subBackgroundDark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    width: 65vw;
    
    min-width: 65vw;
    height: 83.2vh;
    max-height: 83.2vh;
    min-height: 83.2vh;
    margin-top: 3vh;
    margin-left: 0.5vw;
    border-radius: 30px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row ;
    overflow: auto;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;

}

  

.cardDeviceBackground::-webkit-scrollbar{
    width: 20px;
    
}

.cardDeviceBackground::-webkit-scrollbar-track {
    background: white;
    border-radius:20px;
    height: 90%;
    
    
  }
  
.cardDeviceBackground::-webkit-scrollbar-thumb {
    background: rgb(250,99,58);
    background: linear-gradient(0deg, rgba(250,99,58,1) 0%, rgba(253,147,235,1) 61%, rgba(52,3,74,1) 94%);     /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;
  }

.cardControlBackground{
    background: url(../assets/subBackgroundDark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 280%;
    width: 33vw;
    height: 83.2vh;
    margin-top: 3vh;
    margin-left: 0.8vw;
    border-radius: 20px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
}

.cardControlBackground h1{
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem ;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainScreen{
    display: flex;
}

.backgroundDevice{
    background-color: white;
    width: 30vw;
    min-width: 30vw;
    height: 39vh;
    border-radius: 15px;
    margin-left: 3vh;
    margin-top: 1.5vh;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
}

.backgroundDevice h2{
    color: black;
    margin-top: 0.7rem;
    font-size: 2rem;
}

.backgroundDevice button{
    background: none;
    margin: 0px;
    padding: 0px;
}

.backgroundDevice button:hover{
    border: none;
}

.backgroundDeviceGradient{
    background: url(../assets/subBackgroundDark.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 120%;
    width: 28.8vw;
    height: 33vh;
    border-radius: 20px;
    margin-top: 1vh;
    margin-left: 0vw;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.backgroundDeviceLines img{
    position: absolute;
    width: 95%;
    display: flex;
    top: 10px;
}


.logoInMainCard{
    margin-top: 1rem;
}
.mainInfoTemp{
    line-height: 0px;
}

.mainInfoTemp h2{
    position: absolute;
    left: 11vw;
    
    color:white;
    font-size: 2.7rem;
    margin-left: 0vw;
    margin-top: 5vh;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.mainInfoTemp h1{
    color:white;
    font-size: 4.2rem;
    margin-left: 8.3vw;
    margin-top: 10vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.mainInfoTempStateStandBy{
    line-height: 0px;
}

.mainInfoTempStateStandBy h2{
    position: absolute;
    left: 11vw;
    top:2.5vh;
    color:white;
    font-size: 2.7rem;
    margin-left: 0vw;
    margin-top: 5vh;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.mainInfoTempStateStandBy h1{
    position: absolute;
    left: 11vw;
    color:white;
    font-size: 4rem;
    margin-left: 0vw;
    margin-top: 10vh;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.logoInMainCardTV{
    margin-top: 3vh;
    margin-left: 0.5vw;
}

.mainInfoTVStateStandBy{
    line-height: 0px;
}

.mainInfoTVStateStandBy h2{
    position: absolute;
    left: 13vw;
    top:2vh;
    color:white;
    font-size: 2.7rem;
    margin-left: 0vw;
    margin-top: 5vh;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.mainInfoTVStateStandBy h1{
    position: absolute;
    left: 13vw;
    color:white;
    font-size: 3.7rem;
    margin-left: 0vw;
    margin-top: 10vh;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.mainInfoTV{
    line-height: 0px;
}

.mainInfoTV h2{
    position: absolute;
    left: 13vw;
    color:white;
    font-size: 2.7rem;
    margin-left: 0vw;
    margin-top: 4vh;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.mainInfoTV h1{
    color:white;
    font-size: 3rem;
    margin-left: 8.3vw;
    margin-top: 6vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.secondInfoTV h2{
    position: absolute;
    left: 13vw;
    top: 10vh;
    color:white;
    font-size: 2.7rem;
    margin-left: 0vw;
    margin-top: 0vh;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.secondInfoTV h1{
    position: absolute;
    left: 10vw;
    top: 15vh;
    color:white;
    font-size: 3rem;
    font-weight: 500;
    margin-left: 8.3vw;
    margin-top: 0vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.secondaryTextTV{
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.secondaryTextTV h3{
    position: absolute;
    left: 1vw;
    top: 17vh;
    font-weight: 700;
    font-size: 3rem;
}

.secondaryTextTV h2{
    color:white;
    position: absolute;
    left: 5vw;
    top: 25vh;
    font-weight: 700;
    font-size: 3.5rem;
}

.valuesSecondaryTV{
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.valuesSecondaryTV h3{
    position: absolute;
    left: 10vw;
    top: 17vh;
    font-weight: 600;
    font-size: 3rem;
}

.valuesSecondaryTV h2{
    color: white;
    position: absolute;
    left: 14vw;
    top: 26vh;
    font-weight: 600;
    font-size: 2.5rem;
}

.secondaryText{
    position: absolute;
    top: 19vh;
    display: inline-flex;
    left: 2vw;
}

.secondaryText h3{
    font-weight: 700;
    font-size:2.5rem;
    margin-top: 1.5rem;
    text-shadow: 7px 4px 20px rgba(0, 0, 0, 0.692);
}

.valuesSecondary{
    position: absolute;
    display: inline-flex;
    top: 20vh;
    margin-left: 4rem;
}

.valuesSecondary h3{
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-left: 2rem;
    text-shadow: 7px 4px 20px rgba(0, 0, 0, 0.692);
}

.valuesSecondary h4{
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 2rem;
}

.tempMax{
    margin-left: 10vw;
}

.graficArea{
    background-color: rgba(255, 255, 255, 0.329);
    width: 32vw;
    border-radius: 20px;
    margin-left: 0.5vw;
    height: 44vh;
    overflow: auto;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
}

.graficArea ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    flex-direction: column;
}

.graficArea h1{
    text-shadow: 7px 4px 20px rgba(0, 0, 0, 0.692);
    margin-top: 20vh;
}

.graficArea::-webkit-scrollbar{
    width: 20px;
    
}

.graficArea::-webkit-scrollbar-track {
    background: white;
    border-radius:20px;
    height: 90%;
    
    
  }
  
.graficArea::-webkit-scrollbar-thumb {
    background: rgb(250,99,58);
    background: linear-gradient(0deg, rgba(250,99,58,1) 0%, rgba(253,147,235,1) 61%, rgba(52,3,74,1) 94%);     /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;
  }

.controlSmartTVArea{
    background-color: rgba(255, 255, 255, 0.329);
    width: 32vw;
    border-radius: 20px;
    margin-left: 0.5vw;
    height: 44vh;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
}

.appsArea{
    background: url(../assets/backgroundDark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    width: 30vw;
    border-radius: 20px;
    margin-left: 0vw;
    margin-top: 3vh;
    padding-top: 1vh;
    height: 15vh;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
    padding: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.appsArea button{
    background: none;
    margin: 0px;
    padding: 0px;
}

.appsButton{
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-bottom: 0px;
    padding: 5px;
    padding-bottom: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.411);
}
    

.appsButton button img{
    width: 90px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.411);
}
.comandsSmartTv{
    
    width: 95%;
    margin: auto;
    margin-top: 5vh;
    background: url(../assets/backgroundDark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    border-radius: 15px;
    text-shadow: 7px 4px 20px rgba(0, 0, 0, 0.692);
    justify-content: left;
    justify-items: left;
    align-items: start;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.411);
}
.comandVolume{
    display: inline-flex;
}

.volume{
    margin-left: 1rem;
    width: 18vw;
    -webkit-appearance: none;
    height: 50px;
    margin-top: 1.3rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.411);
}


.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 45px;
    background: #320169;
    cursor: inherit;
    border-radius: 10px;
}

.comandChannel{
    display: inline-flex;
    margin-left: 0px;
}
.comandChannel h1{
    margin-right: 1rem;
}
.comandChannel button{
    background: white;
    
    width: 7rem;
    height: 3rem;
    margin-top: 1.7rem;
    padding: 0px;

}
.comandChannel button h1{
    font-size: 3rem;
    padding: 0px;
    color: black;
    font-weight: 700;
    margin: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tempCardList{
    width: 30vw;
    height: 6vh;
    background: url(../assets/subBackgroundDark.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 120%;
    margin-top: 0.7rem;
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
    align-items: center;
    justify-content: left;
    text-align: center;
    display: inline-flex;
}

.tempCardList h1{
    margin-left: 1rem;
    margin-bottom: 0px;
    margin-top: 0.5vh;
    text-align: left;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
    font-weight: 500;
    font-size: 2rem;
    color: white;
}
.tempCardList h2{
    color: white;
    margin-top: 2.5vh;
    margin-left: 1rem;
    font-weight: 500;
}   

.NoSelectDevice{
    background-color: rgba(255, 255, 255, 0.329);
    width: 32vw;
    border-radius: 20px;
    margin-left: 0.5vw;
    margin-top:14vh;
    height: 55vh;
    overflow: auto;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.644);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.NoSelectDevice h1{
    text-shadow: 7px 4px 20px rgba(0, 0, 0, 0.658);
    text-align: center;
    margin-top: 23vh;
    font-size: 3.5rem;
}

.NoSelectDevice h2{
    text-shadow: 7px 2px 10px rgba(0, 0, 0, 0.767);
    text-align: center;

}

.controlSection{
    position: absolute;
    top:70vh;
    padding: 0px;
}

.controlSection img{
    width: 32vw;
    margin-left: 0.5vw;
}

.inputCamp input{
    background-color: white;
    border: none;
    border-radius: 10px ;
    height: 2.8rem;
    width: 24vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 1.7vh;
    padding: 0px;
    color: black;
    font-size: 1.3rem;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.438);
}

.inputCamp button{
    background-color: white;
    color: black;
    height: 2.8rem;
    margin-left: 1vw;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.438);
}



.controlsSecondary h1{
    font-size: 3rem;
    text-align: left;
    margin-left: 1vw;
    font-weight: 700;
    margin-top: 2vh;
    padding: 0px;
    margin-bottom: 1vh;
    text-shadow: 7px 2px 20px rgba(0, 0, 0, 0.466);
}

.controlsSecondary button{
    background-color: white;
    color: black;
    padding: 0px;
    width: 9.5vw;
    height: 7vh;
    margin-left: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
    border-radius: 18px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.438);
}

.controlsSecondary button:hover{
    border-style: none;
}

